/*
Syntax error: File to import not found or unreadable: compass/css3.
              Load path: /Users/karthiks/rwd/conference/2014/scss
        on line 1 of application.scss

1: @import "compass/css3";
2: @import "compass/css3/images";
3: 
4: @import "base/var";
5: @import "base/colors";
6: @import "base/mixins";

Backtrace:
application.scss:1
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/import_node.rb:45:in `import'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/exec.rb:443:in `watch_or_update'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/exec.rb:326:in `process_result'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/exec.rb:41:in `parse'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/lib/sass/exec.rb:21:in `parse!'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.12/bin/scss:9:in `<top (required)>'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/bin/scss:23:in `load'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/bin/scss:23:in `<main>'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `eval'
/Users/karthiks/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/css3.\A               Load path: /Users/karthiks/rwd/conference/2014/scss\A         on line 1 of application.scss\A \A 1: @import \"compass/css3\";\A 2: @import \"compass/css3/images\";\A 3: \A 4: @import \"base/var\";\A 5: @import \"base/colors\";\A 6: @import \"base/mixins\";"; }
